<!--
Author: Brenna Stutenroth

displays route info from plan route and about route
 -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/display.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
    <div id = "navigation">
      <a href="/"><img id = "img2" src="/static/images/2.JPG"></a>
      <a id="nav1" href="/">HOME</a>
      <a id="feed" href="/feed">FEED</a>
      {% if profile == 'driving-car'%}
        <a id="home_title">Your Drive:</a>
        {% set val = True%}
      {% elif profile == 'cycling-regular'%}
        <a id="home_title">Your Bike Ride:</a>
        {% set val = True%}
      {% elif profile == "foot-walking"%}
        <a id="home_title">Your Walk:</a>
        {% set val = True%}
      {%else%}
        <a id="home_title">Your Route:</a>
        {% set val = False%}
      {%endif%}
      <a id = "nav2" href="https://github.com/tclendo/cis422-project1-troy-brenna-rich">GIT HUB</a>
      <a href="#0" id = "userid">{{session['username']}}</a>
      <div class="dropdown">
        <a href="#0"><i class="material-icons">person</i></a>
        <div class="dropdown-content">
          <a href="/profile">View Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <div id = "addr_div">
      {{test}}
    <p>
      {% for adr in adresses %}
        {{adr}}
        <br/>
      {% endfor %}
    </p>
    </div>
    {% if val == True%}
      <div id = "weather">
        <p>Weather in {{city}}:</p>
        <p>Precipitation: {{precipitation}} ({{detailed_precipitation}})</p>
        <p>Temperature is {{temperature}} degrees</p>
        <p>Humidity is {{humidity}}%</p>
        <p>Wind {{wind_speed}} mph at {{wind_direction}} degrees</p>
        <p>AQI: {{average_aqi}}, {{quality}}</p>
      </div>
    {%endif%}
  </body>
</html>
