<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/get_route.css"/>
    <link rel="stylesheet" href="/static/test.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div id = "navigation">
      <a href="/"><img id = "img2" src="static/images/2.JPG"></a>
      <a id="nav1" href="/">HOME</a>
      <a id="feed">FEED</a>
      <a id="home_title">BRT-P</a>
      <a id = "nav2" href="https://github.com/tclendo/cis422-project1-troy-brenna-rich">GIT HUB</a>
      <a id = "userid">{{session['username']}}</a>
      <div class="dropdown">
        <i class="material-icons">person</i>
        <div class="dropdown-content">
          <a href="#">Sign Out</a>
          <a href="#">View Profile</a>
        </div>
      </div>
    </div>
    <div id="drop-area">
        <form class="my-form" method="POST" action="" enctype="multipart/form-data">
          <p>Upload your gpx file:</p>
          <p><input type="file" name="file" accept="gpx"></p>
          <input type="submit" value="Submit">
        </form>
    </div>
  </body>
</html>
