<!--
Author: Brenna Stutenroth

The home page
 -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/test.css"/>
    <link rel="stylesheet" href="/static/landing.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body id = "home_page">
    <script>
      // Get the modal
      var modal3 = document.getElementById('id03');
      var modal4 = document.getElementById('id04');
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal3) {
              modal3.style.display = "none";
          }
      }

      window.onclick = function(event) {
          if (event.target == modal4) {
              modal4.style.display = "none";
          }
      }

    </script>
    <script type="text/javascript">
      function checkForm(form)
      {
        form.myButton.disabled = true;
        return true;
      }
    </script>
    <link href="/themes/COLOR/pace-theme-barber-shop.css" rel="stylesheet" />
    <div id = "navigation">
      <a href="/"><img id = "img2" src="static/images/2.JPG"></a>
      <a id="nav1" href="/">HOME</a>
      <a id="feed">FEED</a>
      <a id="home_title">BRT-P</a>
      <a id = "nav2" href="https://github.com/tclendo/cis422-project1-troy-brenna-rich">GIT HUB</a>
      <a id = "userid">{{session['username']}}</a>
      <div class="dropdown">
        <i class="material-icons">person</i>
        <div class="dropdown-content">
          <a href="/profile">View Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
    <div id="id03" class="modal3">
      <form class="modal3-content animate" method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data" onsubmit="return checkForm(this);">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <p>Upload your gpx file:</p>
          <p><input type="file" name="file" accept="gpx"></p>
          <p>please don't reload/exit the page after pressing submit</p>
          <button type="submit" name= "myButton" value="submit">Submit</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
    <div id="id04" class="modal4">
      <form class="modal4-content animate" method="POST" action="{{ url_for('plan_route') }}" enctype="multipart/form-data">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <p>Name this route:</p>
          <p><input type="text" name="route_name"></p>
          <p>Type of transportation:</p>
          <select name="profile">
            <option value="driving-car">Driving</option>
            <option value="cycling-regular">Cycling</option>
            <option value="foot-walking">Walking</option>
          </select>
          <p>Enter start point:</p>
          <p><input type="text" name="start"></p>
          <p>Enter destination:</p>
          <p><input type="text" name="end"></p>
          <input type="submit" value="Submit">
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id04').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
    <a class= "links" onclick="document.getElementById('id03').style.display='block'">
      <div id = "get_route">
         <p class = "text"> ABOUT YOUR ROUTE </p>
      </div>
    </a>
    <a class = "links" onclick="document.getElementById('id04').style.display='block'">
      <div id = "plan_route">
         <p class = "text"> PLAN YOUR ROUTE</p>
      </div>
    </a>
  </body>
</html>
