
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/test.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.material-icons')) {
      var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }
      }
    }
    </script>
  </head>
  <body id = "home_page">
    <div id = "navigation">
      <a href="/"><img id = "img2" src="static/images/2.JPG"></a>
      <a id="nav1" href="/">HOME</a>
      <a id="feed">FEED</a>
      <a id="home_title">BRT-P</a>
      <a id = "nav2" href="https://github.com/tclendo/cis422-project1-troy-brenna-rich">GIT HUB</a>
      <a id = "userid">{{session['username']}}</a>
      <div class="dropdown">
        <i class="material-icons">person</i>
        <div class="dropdown-content">
          <a href="/logout">Logout</a>
          <a href="#">View Profile</a>
        </div>
      </div>
    </div>
    <a class= "links" href="/get_route">
      <div id = "get_route">
         <p class = "text"> GET YOUR ROUTE </p>
      </div>
    </a>
    <a class = "links" href="/plan_route">
      <div id = "plan_route">
         <p class = "text"> PLAN YOUR ROUTE</p>
      </div>
    </a>
  </body>
</html>
